flows.json
[{"id":"e5dc85c3.a9c518","type":"tab","label":"Garden MQTT","disabled":false,"info":""},{"id":"b76dff92.61495","type":"pi-gpiod out","z":"e5dc85c3.a9c518","name":"CH1 GPIO Pin 29","host":"172.17.0.1","port":8888,"pin":"5","set":false,"level":"0","out":"out","sermin":"1000","sermax":"2000","x":1070,"y":360,"wires":[]},{"id":"8ffefb15.5bb868","type":"mqtt in","z":"e5dc85c3.a9c518","name":"","topic":"tobygarden","qos":"2","datatype":"auto","broker":"cc8746f9.ea28e8","x":150,"y":500,"wires":[["31fc73bc.ab2b3c"]]},{"id":"633a3cb7.ef0e74","type":"mqtt out","z":"e5dc85c3.a9c518","name":"","topic":"tobygarden","qos":"","retain":"","broker":"9089231c.601d9","x":590,"y":180,"wires":[]},{"id":"1a883fed.7e942","type":"inject","z":"e5dc85c3.a9c518","name":"Test Input","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"31,1","payloadType":"str","x":320,"y":180,"wires":[["633a3cb7.ef0e74"]]},{"id":"fca1f30a.2af72","type":"switch","z":"e5dc85c3.a9c518","name":"Channel Switch","property":"msg.payload.channel","propertyType":"jsonata","rules":[{"t":"eq","v":"29","vt":"str"},{"t":"eq","v":"31","vt":"num"},{"t":"eq","v":"33","vt":"str"},{"t":"eq","v":"36","vt":"str"},{"t":"eq","v":"35","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":6,"x":600,"y":520,"wires":[["3ac07a48.690636"],["db80dd47.25e62"],["e20bf046.cf456"],["56d4f622.1cb288"],["4e98078c.a0dcd8"],["28ede622.3e04fa"]]},{"id":"c4ff7045.e89fa","type":"debug","z":"e5dc85c3.a9c518","name":"Channel,Value","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":720,"wires":[]},{"id":"28ede622.3e04fa","type":"debug","z":"e5dc85c3.a9c518","name":"Reject","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":760,"wires":[]},{"id":"31fc73bc.ab2b3c","type":"csv","z":"e5dc85c3.a9c518","name":"Parse CSV","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"channel,value","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":330,"y":660,"wires":[["c4ff7045.e89fa","fca1f30a.2af72"]]},{"id":"3ac07a48.690636","type":"change","z":"e5dc85c3.a9c518","name":"To number","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload.value)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":360,"wires":[["b76dff92.61495"]]},{"id":"42c02894.b589c8","type":"pi-gpiod out","z":"e5dc85c3.a9c518","name":"CH2 GPIO Pin 31","host":"172.17.0.1","port":8888,"pin":"6","set":false,"level":"0","out":"out","sermin":"1000","sermax":"2000","x":1070,"y":420,"wires":[]},{"id":"db80dd47.25e62","type":"change","z":"e5dc85c3.a9c518","name":"To number","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload.value)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":420,"wires":[["42c02894.b589c8"]]},{"id":"1ad3e508.0be49b","type":"pi-gpiod out","z":"e5dc85c3.a9c518","name":"CH3 GPIO Pin 33","host":"172.17.0.1","port":8888,"pin":"13","set":false,"level":"0","out":"out","sermin":"1000","sermax":"2000","x":1070,"y":480,"wires":[]},{"id":"e20bf046.cf456","type":"change","z":"e5dc85c3.a9c518","name":"To number","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload.value)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":480,"wires":[["1ad3e508.0be49b"]]},{"id":"a466e6b9.d8b868","type":"pi-gpiod out","z":"e5dc85c3.a9c518","name":"CH4 GPIO Pin 36","host":"172.17.0.1","port":8888,"pin":"16","set":false,"level":"0","out":"out","sermin":"1000","sermax":"2000","x":1070,"y":540,"wires":[]},{"id":"56d4f622.1cb288","type":"change","z":"e5dc85c3.a9c518","name":"To number","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload.value)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":540,"wires":[["a466e6b9.d8b868"]]},{"id":"ddbb0e5e.3514","type":"pi-gpiod out","z":"e5dc85c3.a9c518","name":"CH5 GPIO Pin 35","host":"172.17.0.1","port":8888,"pin":"19","set":false,"level":"0","out":"out","sermin":"1000","sermax":"2000","x":1070,"y":600,"wires":[]},{"id":"4e98078c.a0dcd8","type":"change","z":"e5dc85c3.a9c518","name":"To number","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload.value)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":600,"wires":[["ddbb0e5e.3514"]]},{"id":"cc8746f9.ea28e8","type":"mqtt-broker","z":"","name":"","broker":"lesmqtt.dyndns.biz","port":"8883","tls":"b2e6ddde.1e453","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9089231c.601d9","type":"mqtt-broker","z":"","name":"AWS","broker":"lesmqtt.dyndns.biz","port":"8883","tls":"b2e6ddde.1e453","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b2e6ddde.1e453","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true}]