node-red/flows.json
[
    {
        "id": "e971d0b3.233c1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cf296349.6fb1b",
        "type": "tab",
        "label": "Garden MQTT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9d7b7f7f.f540f",
        "type": "tab",
        "label": "Test & Validate",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4e8b99be.36cba8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "lesmqtt.dyndns.biz",
        "port": "8883",
        "tls": "dc9c5c9a.c9023",
        "clientid": "",
        "usetls": true,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "df4542bd.f0abd",
        "type": "mqtt-broker",
        "z": "",
        "name": "AWS",
        "broker": "lesmqtt.dyndns.biz",
        "port": "8883",
        "tls": "dc9c5c9a.c9023",
        "clientid": "",
        "usetls": true,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "dc9c5c9a.c9023",
        "type": "tls-config",
        "z": "",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true
    },
    {
        "id": "4cbcdc9f.7ec9e4",
        "type": "pi-gpiod out",
        "z": "cf296349.6fb1b",
        "name": "CH1 GPIO Pin 29",
        "host": "172.17.0.1",
        "port": 8888,
        "pin": "5",
        "set": true,
        "level": "0",
        "out": "out",
        "sermin": "1000",
        "sermax": "2000",
        "x": 1070,
        "y": 360,
        "wires": []
    },
    {
        "id": "aac41e76.1ee8c",
        "type": "mqtt in",
        "z": "cf296349.6fb1b",
        "name": "",
        "topic": "tobygarden",
        "qos": "2",
        "datatype": "auto",
        "broker": "4e8b99be.36cba8",
        "x": 150,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "36628bd6.37d384",
        "type": "switch",
        "z": "cf296349.6fb1b",
        "name": "Channel Switch",
        "property": "msg.payload.channel",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "29",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "31",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "33",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "36",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "35",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 600,
        "y": 520,
        "wires": [
            [
                "960afcbb.87fd8"
            ],
            [
                "eacdf17f.b07b5"
            ],
            [
                "31bddede.021062"
            ],
            [
                "1cdf8fea.31877"
            ],
            [
                "5fb073dd.c7dc3c"
            ],
            [
                "757871bf.0e17e"
            ]
        ]
    },
    {
        "id": "9c5b6778.ce5988",
        "type": "debug",
        "z": "cf296349.6fb1b",
        "name": "Channel,Value",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 720,
        "wires": []
    },
    {
        "id": "757871bf.0e17e",
        "type": "debug",
        "z": "cf296349.6fb1b",
        "name": "Reject",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 760,
        "wires": []
    },
    {
        "id": "befdecaf.fe1fd",
        "type": "csv",
        "z": "cf296349.6fb1b",
        "name": "Parse CSV",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "channel,value",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 330,
        "y": 660,
        "wires": [
            [
                "9c5b6778.ce5988",
                "36628bd6.37d384"
            ]
        ]
    },
    {
        "id": "960afcbb.87fd8",
        "type": "change",
        "z": "cf296349.6fb1b",
        "name": "To number",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload.value)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 360,
        "wires": [
            [
                "4cbcdc9f.7ec9e4"
            ]
        ]
    },
    {
        "id": "c30a83d8.3804b",
        "type": "pi-gpiod out",
        "z": "cf296349.6fb1b",
        "name": "CH2 GPIO Pin 31",
        "host": "172.17.0.1",
        "port": 8888,
        "pin": "6",
        "set": true,
        "level": "0",
        "out": "out",
        "sermin": "1000",
        "sermax": "2000",
        "x": 1070,
        "y": 420,
        "wires": []
    },
    {
        "id": "eacdf17f.b07b5",
        "type": "change",
        "z": "cf296349.6fb1b",
        "name": "To number",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload.value)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 420,
        "wires": [
            [
                "c30a83d8.3804b"
            ]
        ]
    },
    {
        "id": "b5e9e738.a718a8",
        "type": "pi-gpiod out",
        "z": "cf296349.6fb1b",
        "name": "CH3 GPIO Pin 33",
        "host": "172.17.0.1",
        "port": 8888,
        "pin": "13",
        "set": true,
        "level": "0",
        "out": "out",
        "sermin": "1000",
        "sermax": "2000",
        "x": 1070,
        "y": 480,
        "wires": []
    },
    {
        "id": "31bddede.021062",
        "type": "change",
        "z": "cf296349.6fb1b",
        "name": "To number",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload.value)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 480,
        "wires": [
            [
                "b5e9e738.a718a8"
            ]
        ]
    },
    {
        "id": "d9c516bb.4915d8",
        "type": "pi-gpiod out",
        "z": "cf296349.6fb1b",
        "name": "CH4 GPIO Pin 36",
        "host": "172.17.0.1",
        "port": 8888,
        "pin": "16",
        "set": true,
        "level": "0",
        "out": "out",
        "sermin": "1000",
        "sermax": "2000",
        "x": 1070,
        "y": 540,
        "wires": []
    },
    {
        "id": "1cdf8fea.31877",
        "type": "change",
        "z": "cf296349.6fb1b",
        "name": "To number",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload.value)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 540,
        "wires": [
            [
                "d9c516bb.4915d8"
            ]
        ]
    },
    {
        "id": "adfc62d2.1f35b",
        "type": "pi-gpiod out",
        "z": "cf296349.6fb1b",
        "name": "CH5 GPIO Pin 35",
        "host": "172.17.0.1",
        "port": 8888,
        "pin": "19",
        "set": true,
        "level": "0",
        "out": "out",
        "sermin": "1000",
        "sermax": "2000",
        "x": 1070,
        "y": 600,
        "wires": []
    },
    {
        "id": "5fb073dd.c7dc3c",
        "type": "change",
        "z": "cf296349.6fb1b",
        "name": "To number",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload.value)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 600,
        "wires": [
            [
                "adfc62d2.1f35b"
            ]
        ]
    },
    {
        "id": "ffae5e3a.967f1",
        "type": "pi-gpiod out",
        "z": "e971d0b3.233c1",
        "name": "CH1 GPIO Pin 29 - LP",
        "host": "172.17.0.1",
        "port": 8888,
        "pin": "5",
        "set": true,
        "level": "0",
        "out": "out",
        "sermin": "1000",
        "sermax": "2000",
        "x": 1300,
        "y": 360,
        "wires": []
    },
    {
        "id": "83cbac23.7d1a3",
        "type": "pi-gpiod out",
        "z": "e971d0b3.233c1",
        "name": "CH2 GPIO Pin 31 - HP",
        "host": "172.17.0.1",
        "port": 8888,
        "pin": "6",
        "set": true,
        "level": "0",
        "out": "out",
        "sermin": "1000",
        "sermax": "2000",
        "x": 1300,
        "y": 420,
        "wires": []
    },
    {
        "id": "ef5e9f26.8747b",
        "type": "pi-gpiod out",
        "z": "e971d0b3.233c1",
        "name": "CH3 GPIO Pin 33 - Top",
        "host": "172.17.0.1",
        "port": 8888,
        "pin": "13",
        "set": true,
        "level": "0",
        "out": "out",
        "sermin": "1000",
        "sermax": "2000",
        "x": 1310,
        "y": 480,
        "wires": []
    },
    {
        "id": "4ea92a45.29b534",
        "type": "pi-gpiod out",
        "z": "e971d0b3.233c1",
        "name": "CH4 GPIO Pin 36 - Side",
        "host": "172.17.0.1",
        "port": 8888,
        "pin": "16",
        "set": true,
        "level": "0",
        "out": "out",
        "sermin": "1000",
        "sermax": "2000",
        "x": 1310,
        "y": 540,
        "wires": []
    },
    {
        "id": "84825e4b.66f52",
        "type": "pi-gpiod out",
        "z": "e971d0b3.233c1",
        "name": "CH5 GPIO Pin 35 - Bottom",
        "host": "172.17.0.1",
        "port": 8888,
        "pin": "19",
        "set": true,
        "level": "0",
        "out": "out",
        "sermin": "1000",
        "sermax": "2000",
        "x": 1320,
        "y": 600,
        "wires": []
    },
    {
        "id": "188c144f.fc7dcc",
        "type": "mqtt in",
        "z": "e971d0b3.233c1",
        "name": "",
        "topic": "tobygarden",
        "qos": "2",
        "datatype": "auto",
        "broker": "4e8b99be.36cba8",
        "x": 310,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "59fd2a35.2687d4",
        "type": "mqtt out",
        "z": "9d7b7f7f.f540f",
        "name": "",
        "topic": "tobygarden",
        "qos": "",
        "retain": "",
        "broker": "df4542bd.f0abd",
        "x": 710,
        "y": 200,
        "wires": []
    },
    {
        "id": "377824c8.f3714c",
        "type": "inject",
        "z": "9d7b7f7f.f540f",
        "d": true,
        "name": "Test Input",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "31,0",
        "payloadType": "str",
        "x": 440,
        "y": 200,
        "wires": [
            [
                "59fd2a35.2687d4"
            ]
        ]
    },
    {
        "id": "2d4c841d.4cf26c",
        "type": "inject",
        "z": "e971d0b3.233c1",
        "name": "Run sequence",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"index\":1,\"channel\":31,\"level\":1,\"delay\":2},{\"index\":2,\"channel\":35,\"level\":1,\"delay\":12},{\"index\":3,\"channel\":35,\"level\":0,\"delay\":2},{\"index\":4,\"channel\":36,\"level\":1,\"delay\":12},{\"index\":5,\"channel\":36,\"level\":0,\"delay\":2},{\"index\":6,\"channel\":33,\"level\":1,\"delay\":12},{\"index\":7,\"channel\":33,\"level\":0,\"delay\":2},{\"index\":8,\"channel\":31,\"level\":0,\"delay\":2}]",
        "payloadType": "json",
        "x": 80,
        "y": 300,
        "wires": [
            [
                "d2458496.314588"
            ]
        ]
    },
    {
        "id": "d2458496.314588",
        "type": "function",
        "z": "e971d0b3.233c1",
        "name": "sendNodeAndWait",
        "func": "var i = 0;\n\nsendNodeAndWait()\n\nfunction sendNodeAndWait() {\n    if (i == msg.payload.length) { return null; }\n    node.send({payload:msg.payload[i]});\n    setTimeout(sendNodeAndWait, msg.payload[i].delay * 1000);\n    i += 1;\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 330,
        "y": 360,
        "wires": [
            [
                "cf5bbe91.68daf"
            ]
        ]
    },
    {
        "id": "94776ae5.d37c88",
        "type": "debug",
        "z": "e971d0b3.233c1",
        "name": "Test",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 180,
        "wires": []
    },
    {
        "id": "42c1e1b9.acb9d",
        "type": "debug",
        "z": "e971d0b3.233c1",
        "name": "Errors",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 740,
        "wires": []
    },
    {
        "id": "e777643e.91fde8",
        "type": "catch",
        "z": "e971d0b3.233c1",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 770,
        "y": 740,
        "wires": [
            [
                "42c1e1b9.acb9d"
            ]
        ]
    },
    {
        "id": "8b16d1d7.7b21e",
        "type": "switch",
        "z": "e971d0b3.233c1",
        "name": "GPIO Switch",
        "property": "payload.channel",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "29",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "31",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "33",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "36",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "35",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 750,
        "y": 480,
        "wires": [
            [
                "b6b694fd.79a088"
            ],
            [
                "c6c917a6.18d768"
            ],
            [
                "bb368318.721ac"
            ],
            [
                "5935c0aa.126d8"
            ],
            [
                "e96dda16.f46388"
            ],
            [
                "42c1e1b9.acb9d"
            ]
        ]
    },
    {
        "id": "c6c917a6.18d768",
        "type": "change",
        "z": "e971d0b3.233c1",
        "name": "Set level",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.level",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 420,
        "wires": [
            [
                "83cbac23.7d1a3"
            ]
        ]
    },
    {
        "id": "b6b694fd.79a088",
        "type": "change",
        "z": "e971d0b3.233c1",
        "name": "Set level",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.level",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 360,
        "wires": [
            [
                "ffae5e3a.967f1"
            ]
        ]
    },
    {
        "id": "bb368318.721ac",
        "type": "change",
        "z": "e971d0b3.233c1",
        "name": "Set level",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.level",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 480,
        "wires": [
            [
                "ef5e9f26.8747b"
            ]
        ]
    },
    {
        "id": "5935c0aa.126d8",
        "type": "change",
        "z": "e971d0b3.233c1",
        "name": "Set level",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.level",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 540,
        "wires": [
            [
                "4ea92a45.29b534"
            ]
        ]
    },
    {
        "id": "e96dda16.f46388",
        "type": "change",
        "z": "e971d0b3.233c1",
        "name": "Set level",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.level",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 600,
        "wires": [
            [
                "84825e4b.66f52"
            ]
        ]
    },
    {
        "id": "cf5bbe91.68daf",
        "type": "switch",
        "z": "e971d0b3.233c1",
        "name": "DebugOrLive",
        "property": "debugFlow",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 360,
        "wires": [
            [
                "94776ae5.d37c88"
            ],
            [
                "8b16d1d7.7b21e"
            ]
        ]
    },
    {
        "id": "70d23d7b.1be324",
        "type": "inject",
        "z": "e971d0b3.233c1",
        "name": "DebugOrLive",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "str",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "689ef00f.36f7"
            ]
        ]
    },
    {
        "id": "689ef00f.36f7",
        "type": "change",
        "z": "e971d0b3.233c1",
        "name": "SetDebug",
        "rules": [
            {
                "t": "set",
                "p": "debugFlow",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 60,
        "wires": [
            [
                "d50b82c9.b4ff8"
            ]
        ]
    },
    {
        "id": "d50b82c9.b4ff8",
        "type": "debug",
        "z": "e971d0b3.233c1",
        "name": "Debug Output Only",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 60,
        "wires": []
    }
]